
*{margin: 0; padding: 0; box-sizing: border-box;}

body {
    background-color: rgb(92, 94, 228);
}

.GameDi-button-start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.GameDi-button-image img {
    max-width: 100%;
    position: relative;
    opacity: 1;
}

.a:hover img {
    cursor: pointer;
    opacity: 0.80;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.a:active img {
    opacity: 0.80;
    transform: translateY(2px);
    transition: all 0.3s;
}

.b img {
    opacity: 1;
    animation-name: move;
    animation-duration: 0.6s;
    animation-delay: 0;
}
@keyframes move{
    from{transform: scale(1.1);}
    to{transform: scale(1.8); opacity: 0;}
}